*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

#main_page
{    
    width: 100vw;
    height: 100vh;
    background-color: rgb(255, 255, 255);
    display: flex;
    justify-content: center;
    align-items: center;
}
#Sub_page{
    padding: 35px;
    width: 90vw;
    height: 90vh;
    display: flex;
    flex-flow: row;
   flex-wrap: wrap;  
   box-shadow: 0.1px -0.1px 70px rgb(56, 53, 53);
   /* -1px 0.1px 15px rgb(49, 47, 47); */
   background-color: rgb(250, 247, 242);

   border-radius: 10px;

}
#aside{
    width: 35vw;
    height: 80vh;
    background-color: rgb(250, 247, 242);
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: left;
    padding-left: 10px;
 

}
#logo{
     color: rgb(0, 122, 204);
    font-size: 70px;
    font-weight: bold;
     font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
#content{
    /* color:  rgb(36, 32, 32);  */
    color: #242020;
    font-size: 25px;
     font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
#Login_farm{
    width: 35vw;
    background-color: rgb(250, 247, 242);
    height: 80vh;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    margin-left: 150px;
}
#form_iteam{
    width: 30vw;
    height: 65vh;
    background-color: white;
    display: flex;
    flex-flow: column;
    justify-content: center;
    border-radius: 5px;
    align-items: center;
    box-shadow: 0.1px -0.1px 2px rgb(56, 53, 53);

}

input::placeholder{
    margin-right: 15px;
    text-indent: 15px;
    font-size: 17px;
    /* color: rgba(184, 187, 187, 0.63); */
    border: 1px;
}
input:focus{
    /* font-size: 17px;
    text-indent: 15px;
    border-color: greenyellow; */
    
        outline: none !important;
        border:1px solid lightblue;
        box-shadow: 0 0 10px #719ECE;
      
}
input{
    width: 25vw;
    height: 8vh;
    border-radius: 5px;
    text-indent: 15px;
    font-size: 17px;
}

#login{
  width: 25vw;
  height: 8vh;
  background-color: rgb(0, 122, 204);
  color: rgb(255, 255, 255);
  font-size: 20px;
  font-weight: bold;
  border-radius: 5px;

  border:none;
}
#create{
    width: 14vw;
   border:none;
    height: 8vh;
    background-color: rgb(7, 185, 31);
    color: white;
    font-size: 16px;
    font-weight: bold;
    border-radius: 5px;

}
#forget{
    width: 20vw;
    height: 8vh;
    text-align: center;
}
#forget:hover{
    text-decoration: underline;
}
#forger,a{
    text-decoration: none;
    color: rgb(11, 148, 240);

}
#celebration{
    margin-left: 15%;
    margin-top: 5%;
    width: 28vw;
    font-weight: 550;
    color: rgb(36, 32, 32);
}
#bold{
    font-weight: bolder;
   font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

}